<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegistrationValidation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
	<add name="ContactDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\source\repos\AdoNetContact\Database1.mdf;Integrated Security=True" />
	</connectionStrings>
 <userSettings>
  <RegistrationValidation.Properties.Settings>
   <setting name="Name" serializeAs="String">
    <value />
   </setting>
   <setting name="Email" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="Remembe" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Id" serializeAs="String">
    <value>0</value>
   </setting>
  </RegistrationValidation.Properties.Settings>
 </userSettings>
</configuration>